* {
    font-family: 'Raleway', sans-serif;
}
#nav {
    border:1px solid gray;
    background-color:#e0e0e0;
    box-shadow:2px 2px 4px;
}
ul {
    list-style-type: none;
    margin: auto;
    padding: both;
}
li {
    display:inline;
}
#title {
    display:inline;
    border:1px solid gray;
    border-radius:2.5px;
    box-shadow:2px 2px 4px;
    background-color:#2ca083;
    margin:auto;
    padding:both;
}
h1 {
    display:inline;
    font-size:42px;
    text-align:center;
    font-family:"Raleway Dots", cursive;
}
body {
    /*background-color:#5f877d;
    width=500px;*/
    background-color:white;
}
