* {
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size:36px;
    text-align:center;
    display:inline;
    border:2px solid white;
    border-radius:2.5px;
    padding:10px;
    margin:auto;
    box-shadow:2px 2px 4px;
    font-family:"Raleway Dots", cursive;
}
body {
    /*background-color:#5f877d;
    width=500px;*/
    background-color:white;
}
.title {
    float:top;
    box-shadow:2px 2px 4px;
    margin:auto;
    border-radius=2.5px;
}
