* {
    font-family: 'Raleway', sans-serif;
}
h1 {
    border:2px solid #f44242;
    border-radius:2px;
    padding:10px;
    margin:5px;
    box-shadow:2px 2px 4px
}
body {
    background-color:white;
}
